html {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/image.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden; }

body {
  background-color: transparent !important;
  color: white;
  height: 100%;
  width: 100%;
  overflow: auto; }

.navigation-clean {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
  border-bottom: solid 1px white; }

.navbar .navbar-brand {
  font-family: 'Bitter', serif; }

@media (min-width: 768px) {
  .navigation-clean {
    padding-top: 1rem;
    padding-bottom: 1rem; } }

.navbar-toggler-icon {
  filter: invert(100%); }

.navigation-clean .navbar-brand {
  font-weight: bold;
  color: inherit;
  margin: 0px;
  font-style: italic; }

.navigation-clean .navbar-brand:hover {
  color: #ffffff; }

.navigation-clean .navbar-toggler {
  border: none; }

.navigation-clean .navbar-toggler:hover, .navigation-clean .navbar-toggler:focus {
  background: none; }

.navigation-clean .navbar-toggler {
  color: #ffff; }

.navigation-clean .navbar-collapse, .navigation-clean .form-inline {
  border-top-color: #ddd; }

.navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
  color: #fff;
  pointer-events: none; }

.navigation-clean .navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px; }

.navigation-clean.navbar-light .navbar-nav .nav-link {
  color: #818182;
  transition: 200ms ease-in; }

.navigation-clean.navbar-light .navbar-nav .nav-link:focus, .navigation-clean.navbar-light .navbar-nav .nav-link:hover {
  background-color: transparent;
  outline: 0 none; }

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: none;
  background-color: #fff;
  border-radius: 2px; }

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #fff; }

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit; }

.home_main {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top: 20%; }

.home_main h1, h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 7vh;
  text-align: center;
  margin: 3%;
  font-weight: bolder; }

.footer_main {
  font-family: 'Bitter', serif;
  color: darkgrey;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: solid 1px darkgrey;
  background-color: black;
  height: 35px; }

.footer_main p {
  margin-top: 4px;
  margin-left: 20px;
  float: left; }

.footer_main img {
  margin-top: 4px;
  margin-left: 10px;
  max-width: 20px;
  filter: invert(100%); }

@media (min-width: 600px) {
  .Modal {
    position: absolute;
    top: 90px;
    left: 80px;
    right: 80px;
    bottom: 80px;
    background: rgba(30, 30, 30, 0.8);
    overflow: auto;
    border-right: 4px;
    outline: none;
    padding: 20px; } }

@media (max-width: 600px) {
  .Modal {
    position: absolute;
    top: 80px;
    left: 30px;
    right: 30px;
    bottom: 80px;
    background: #1e1e1e;
    overflow: auto;
    border-right: 4px;
    outline: none;
    padding: 20px; } }

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0); }

.contacts {
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
  text-align: center;
  margin-top: 100px; }

.contacts h1 {
  font-size: 6vw; }

@media (max-width: 600px) {
  .contacts p {
    font-size: 5vw; } }

@media (min-width: 600px) {
  .contacts p {
    font-size: 4vw; } }

.fa-github, .fa-linkedin {
  font-size: 50px;
  color: grey;
  margin-top: 20px;
  margin-right: 20px; }

.fa-github:hover, .fa-linkedin:hover {
  color: white; }

.list {
  padding: 5px;
  list-style-type: none;
  margin-top: 50px; }

.list-item {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style-type: none; }

.title {
  font-size: 30px; }

.company {
  font-size: 25px; }

.content {
  margin-top: 15px;
  color: white;
  text-align: justify; }
