.contacts {
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
  text-align: center;
  margin-top: 100px;
};

.contacts h1 {
  font-size: 6vw;
};

@media (max-width: 600px) {
  .contacts p {
    font-size: 5vw;
  }
};

@media (min-width: 600px) {
  .contacts p {
    font-size: 4vw;
  }
};

.fa-github, .fa-linkedin {
  font-size: 50px;
  color: grey;
  margin-top: 20px;
  margin-right: 20px;
};

.fa-github:hover, .fa-linkedin:hover {
  color: white;
};

