.footer_main{
  font-family: 'Bitter', serif;
  color: darkgrey;
  position:fixed;
  bottom:0;
  left:0;
  width: 100%;
  border-top: solid 1px darkgrey;
}

.footer_main p {
  margin-top: 10px;
  margin-left: 20px;
  float: left;
}

.footer_main img {
  margin-top: 10px;
  margin-left: 10px;
  max-width: 25px;
filter: invert(100%);
}