.footer_main {
  font-family: 'Bitter', serif;
  color: darkgrey;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: solid 1px darkgrey;
  background-color: black;
  height: 35px;
 }

.footer_main p {
  margin-top: 4px;
  margin-left: 20px;
  float: left;
}

.footer_main img {
  margin-top: 4px;
  margin-left: 10px;
  max-width: 20px;
  filter: invert(100%);
}