@media (min-width: 600px) {
.Modal {
  position: absolute;
  top: 90px;
  left: 80px;
  right: 80px;
  bottom: 80px;
  background: rgba(30, 30, 30, 0.8);
  overflow: auto;
  border-right: 4px;
  outline: none;
  padding: 20px;
} };

@media (max-width: 600px) {
  .Modal {
    position: absolute;
    top: 80px;
    left: 30px;
    right: 30px;
    bottom: 80px;
    background: rgba(30, 30, 30, 1);
    overflow: auto;
    border-right: 4px;
    outline: none;
    padding: 20px;
  }
};

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
};